body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-content,
.profile-content {
    width: 450px;
    height: 500px;
    margin-left: 30%;
    display: flex;
    box-shadow: 0px 10px 40px -12px #000000;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.profile-content {
    width: 400px;
    height: 450px;
    display: flex;
    box-shadow: 0px 10px 40px -12px #000000;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);
    transform: translate(-50%, -50%);
    margin: 0;
}

.profile-image img {
    width: 100px;
    height: 100px;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 15%;
}

.profile-data {
    margin-top: 2rem;
}

.profile-data td {
    font-size: x-large;
    color: black;
    margin: 0;
}


.main-container {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
}

#return-btn {
    margin-top: 2%;
    margin-left: 92%;
    background-color: #0047AB;
    color: white;
    font-size: 20px;
}

.image img {
    width: 160px;
    height: 160px;
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 15%;
}

.main-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
}

.textfield > label {
    font-size: large;
    color: black;
    text-align: left;
    margin-right: 10px;
}

.textfield > input {
    width: 400px;
    border: none;
    padding: 15px;
    background-color: white;
    font-size: 12px;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.textfield > input ::placeholder {
    color: rgb(239, 222, 222);
}

#btn {
    width: 100%;
    margin: 5px;
}

.head-itens {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: #0047AB;
    box-shadow: 5px 5px 10px #888888;
    align-items: center;
}

.head-itens img {
    margin: 10px;
    margin-left: 2%;
    width: 60px;
    height: 60px;

}

.dropdown {
    margin-left: 75%;
}

#dropdown-user {
    font-size: large;
    color: white;
}

.profile-content {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);
    box-shadow: 0px 10px 40px -12px #000000;
}

.profile-image img {
    width: 150px;
    height: 150px;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 10%;
}


.profile-container {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.profile-name {
    width: 120%;
    height: 15%;
    margin-left: -20px;
    margin-top: -15px;
    background-color: #0047AB;
}

.profile-name p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-left: 30%;
    color: aliceblue;
}

.profile-itens {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
}

.forms-itens {
    width: 90%;
    height: 62vh;
    margin-top: 5%;
    margin-left: 2%;
    overflow: hidden;
}

.form-conteiner div {
    margin: 10px;
    width: 150%;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.search-form button {
    margin-bottom: 10px;
}

.forms-itens {
    margin: 0;
}

.forms-itens form {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.forms-itens input {
    width: 400px;
}

.form-submit select {
    margin-top: 40px;
}

.form-submit button {
    margin-top: 60px;
    margin-left: 50vh;
}

.search-itens {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.search-input {
    margin-top: 2%;
    margin-left: 5%;
}

.search-itens input {
    width: 50vh;
}

.search-btn button {
    margin: 5%;
    margin-top: 20%;
    padding: 5px;
}

.table-content {
    width: 100%;
    height: max-content;
    margin-left: 0px;
    margin-bottom: 20vh;
}

.table-content table {
    margin-left: 2%;
    width: 90%;
    border-collapse: collapse;
    text-align: left;
}

.table-content td {
    font-size: large;
}

.table-content th {
    border: 1px inset #aeaeaed8;
    padding: 5px;
    text-align: left;
}

.table-content td {
    border: 1px solid #aeaeaed8;
    padding: 5px;
    text-align: left;
}

/*tr:nth-child(even) {*/
/*    background-color: #f2f2f2;*/
/*}*/

.table-icon-width {
    width: 20%;
}

.table-content i {
    margin-left: 2%;
}

#icon-plus {
    color: chartreuse;
}

#icon-pencil {
    color: blue;
}

#icon-trash {
    color: red;
    border: none;
    background-color: white;
}

/*Requisito: Exibir saldo @LuisFelipeKrause*/
.main-extrato {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: max-content;
    margin-bottom: 4%;
}

.main-content-extrato {
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: #FFF;
}

.main-container-extrato {
    width: 90%;
    height: 500px;
    justify-content: left;
    background-color: #ffffff;
}

#info-geral-extrato {
    margin: 5% 0 25px 8%;
}

.saldo-extrato {
    font-size: larger;
    font-weight: 600;
    display: inline-flex;
}

#nome-usuario-extrato {
    margin: 0;
    display: block;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

#exibe-saldo-extrato {
    width: auto;
    padding: 2px 4px 2px 2px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.tabela-extrato {
    text-align: left;
    border-collapse: collapse;
    height: min-content;
    display: flex;
    text-align: left;
    justify-content: center;
}

.tabela-extrato th {
    align-items: left;
    font-size: 25px;
    font-weight: 900;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding-right: 90px;
}

.tabela-extrato td {
    font-size: medium;
    padding-left: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

/*Requisito:  Catraca @PHmore*/
.cobrar-itens {
    width: 25%;
    margin-top: 2%;
    margin-left: 2%;

}

.cobrar-itens label {
    font-size: x-large;
    color: #0047AB;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #dfdfdf;
}

.footer-itens {
    margin-left: 45%;
    margin-right: 25%;
}

.footer img {
    margin: 10px;
    width: 40px;
    height: 40px;
}